.container {
  width: 100vw;
  height: 100vh;
  background-color: #1e293b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.container h2 {
  color: #84cc16;
  max-width: 30vw;
  text-align: center;
  font-size: xx-large;
  margin-bottom: 1rem;
}
.container button {
  padding: 0.5rem 1rem;
  font-size: larger;
  font-weight: 700;
  border: 0.1rem solid white;
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
  background-color: transparent;

  transition: all 0.3s ease-in-out;
}
.container button:hover {
  color: white;
  border: 0.1rem solid #84cc16;
  background-color: #84cc16;
}

.popup {
  display: flex;
  width: 40vw;
  min-height: 55vh;
  flex-direction: column;
  align-items: center;
  padding: 1rem 3rem;
  background-color: #121c2b;
  color: white;
  border-radius: 0.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}
.popup h3 {
  margin-bottom: 2rem;
}
.popup form {
  display: flex;
  flex-direction: column;
}
.popup label {
  margin: 1rem 0rem;
}
.popup input {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: none;
}
.popup select {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: none;
}
.popup button {
  margin: 1rem 0rem;
  padding: 0.5rem 1rem;
  width: fit-content;
  align-self: center;
  font-size: medium;
}
.overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}

.swapButtons {
  display: flex;
}
.swapButtons h3 {
  position: relative;
  margin: 1rem;
  font-weight: 500;
  color: gray;
  transition: all 0.3s ease;
  padding-bottom: 1rem;
  border-bottom: 0.1rem solid transparent;
  cursor: pointer;
}
.swapButtons h3:hover {
  color: white;
}

.active {
  font-weight: bold;
  color: #84cc16 !important;
  border-bottom: 0.1rem solid #84cc16 !important;
}
.joinroom {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.roomtype {
  display: flex;
}
.roomtype p {
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  border-radius: 0.5rem;
  font-weight: 700;
  color: gray;
  border: 0.1rem solid gray;
  cursor: pointer;
  transition: all 0.3s ease;
}

.roomtype p:hover {
  color: white;
  border-color: white;
}
.typeActive {
  background-color: #84cc16;
  color: #121c2b !important;
  border-color: #84cc16 !important;
}
.warning {
  text-align: center;
  width: 35rem;
  margin-top: 1rem;
  color: rgb(221, 0, 0);
}
