.cell {
  /* margin: 0rem 1rem; */
  height: 10rem;
  width: 10rem;
  background-color: rgb(223, 245, 220);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.05rem solid rgba(0, 0, 0, 0.596);
}
