.body {
  padding: 0rem 5rem;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
}
.turn {
  flex: 1;
  margin: 0rem 2rem;
  word-wrap: break-word;
  text-align: center;
}
.info {
  flex: 1;
  word-wrap: break-word;
}
.button {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.body button {
  padding: 0.5rem 1rem;
  font-size: larger;
  font-weight: 700;
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
  background-color: rgb(255, 65, 65);
  border: none;

  transition: all 0.3s ease-in-out;
}
.title button:hover {
  background-color: red;
}

.board {
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  cursor: not-allowed;
}

.result {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  text-align: center;
  background-color: #121c2b;
  display: grid;
  place-items: center;
  cursor: default;
}

.result p {
  color: whitesmoke;
  padding-bottom: 1rem;
}

.row {
  display: flex;
  align-items: center;
}
.row button:first-child {
  background-color: aquamarine;
  color: #121c2b;
  margin-right: 0.8rem;
  font-size: medium;
}
.row button:nth-child(2) {
  font-size: medium;
}

.win {
  color: greenyellow;
}

.lose {
  color: #a52c2c;
}

.yourturn {
  color: #84cc16;
}

.opponentturn {
  color: #a52c2c;
}

@media only screen and (max-width: 512px) {
  .body {
    padding: 0rem 1rem;
  }
  .title {
    font-size: small;
  }
  .title button {
    font-size: small;
    padding: 0.35rem 0.8rem;
  }
}
